{% extends 'base.html' %}
{% load static %}

{% block title %}Profile List{% endblock %}

{% block content %}
<div class="max-w-2xl mx-auto px-4 md:px-0">
    <h1 class="text-3xl font-bold underline">Profile List</h1>

    <ul class="divide-y divide-gray-100">
        {% for profile in profiles %}
        <li class="flex gap-x-4 py-5">
            {% if profile.profile_picture %}
            <img
                src="{{ profile.profile_picture.url }}"
                alt="{{ profile.user.username }}'s profile picture"
                height="48"
                width="48"
            />
            {% else %}
            <img src="https://placehold.co/48?text=Profile\nPicture" 
                 alt="Placeholder profile picture" />
            {% endif %}
            <div>
                <p class="font-semibold text-gray-900">{{ profile.user.username }}</p>
                <p class="text-sm text-gray-500">{{ profile.bio }}</p>
            </div>
        </li>
        {% empty %}
        <li>No profiles available.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}