{% extends 'base.html' %}

{% block content %}
<div class="max-w-2xl mx-auto">
    <h1>Create a new Company</h1>

    <form method="post" class="mt-4">
        {% csrf_token %}

        {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <p class="text-red-500">{{ field.errors|striptags }}</p>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}